:root { 
--cyan_A400:#00daf7; 
--red_400:#de6944; 
--light_blue_400:#1abcfe; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--gray_50:#faf8f8; 
--green_A400:#0acf83; 
--green_A700:#07ad36; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--black_900_84:#00000084; 
--gray_200_01:#eeeef0; 
--deep_orange_300:#ff7262; 
--deep_purple_A200:#a259ff; 
--deep_orange_A400:#ff3d00; 
--gray_600:#696f79; 
--gray_400:#b9b9b9; 
--blue_gray_400:#8591a5; 
--blue_700:#1976d2; 
--blue_700_01:#1976d2; 
--amber_500:#ffc107; 
--gray_800:#4b5548; 
--gray_200:#ececec; 
--gray_300:#dadada; 
--blue_gray_400_7f:#8591a57f; 
--gray_100:#f5f5f5; 
--gray_200_96:#ececec96; 
--white_A700:#ffffff; 
}